<h1>All Wikis</h1>

<% if policy(:wiki).create? %>
  <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success' %>
<% end %>

<% @wikis.each do |wiki| %>
  <p><%= link_to wiki.title, wiki_path(wiki) %></p>
  <% if policy(wiki).update? %>
    <%= link_to "Edit wiki", edit_wiki_path(wiki), class: 'btn btn-info' %>
  <% end %>
<% end %>
