<h1>Cancel Premium Membership </h1>
<h4>We are sorry to lose you. Please note that if you cancel now
and want to become a premium member in the future you will need to pay the
premium fee.</h4>

<%= link_to "Cancel Premium", cancel_premium_path, method: :create, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to cancel your premium membership?'} %>
